<div class="modal-header">
  <button type="button" class="close" data-dismiss="rightPanel">×</button>
  <h4 class="modal-title">提示</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <% if record.respond_to?(:remove_relationable?) && !record.remove_relationable? %>
        <h3><%= unable_msg %></h3>

        <div class="form-actions">
          <%= link_to '取消', '#', 'data-dismiss' => "rightPanel", class: 'btn btn-default' %>
        </div>
    <% else %>
        <h3><%= msg ||='请确认是否解除分销关系？' %></h3>

        <div class="form-actions">
          <%= link_to '确定', remove_relation_admin_fx_user_path(record,page: params[:page]), :method => :delete,remote: true, class: 'btn btn-success' %>
          <%= link_to '取消', '#', 'data-dismiss' => "rightPanel", class: 'btn btn-default' %>
        </div>
    <% end %>
  </div>
</div>