<div class="row">
  <div class="col-xs-12">
    <div class="jarviswidget">
      <header>
        <span class="widget-icon"><i class="fa fa-table"></i></span>

        <h2>分销订单列表</h2>

        <div class="widget-toolbar">
          <%= link_to raw('<i class="fa fa-plus-circle"></i> 创建'), new_admin_fx_trade_path, class: 'btn btn-xs btn-default', data: {target: 'rightPanel'} if can?(:create, Fx::Level) %>
        </div>
      </header>
      <div>
        <div class="widget-body-toolbar">
          <%= form_tag request.path, method: 'get', id: 'search_form', class: 'form-inline' do %>
              <%= render 'admin/shared/search/basic', field: 'id', kv: search_field_kv([:id]), size: 4 %>
              <%= render 'admin/shared/search/basic', field: 'number', kv: search_field_kv([:number, :like]) %>
              <%= render 'admin/shared/search/range', field: 'created_at', class_names: 'hasDatepicker' %>
              <%= render 'admin/shared/search/basic', field: 'editor_id', kv: search_field_kv([:editor_id]), field_name: '编辑ID' %>
              <%= render 'admin/shared/search/order', field: 'order' %>
              <%= render 'admin/shared/search/select', field: 'per_page', kv: {k: 'per_page', v: params[:per_page]}, options: %w[10 20 30 50 100 200 300 500].map { |i| [i, i] }, field_name: '每页' %>
              <%= submit_tag t(:search), class: 'btn search-xs btn-success' %>
              <%= link_to t(:reset), request.path, class: 'btn search-xs btn-default' %>
          <% end %>
        </div>
        <div class="widget-body no-padding">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th scope="col" class="check-column"><!-- <input type="checkbox" /> --></th>
                <th>
                  ID <%= order_link_btn('id') %>
                </th>
                <th>订单号</th>
                <th>名称</th>
                <th>类型</th>
                <th>订单总金额</th>
                <th>分成金额</th>
                <th>购买者</th>
                <th>状态</th>
                <th>
                  创建时间 <%= order_link_btn('created_at') %>
                </th>
                <th class="table_set">操作</th>
              </tr>
              </thead>
              <tbody>
              <% @trades.each do |trade| %>
                  <tr>
                    <th scope="row" class="check-column"><!-- <input type="checkbox" name="delete[]" value="1" /> --></th>
                    <td><%= link_to trade.id, 'where[id]' => trade.id %></td>
                    <td><%= h trade.number %></td>
                    <td><%= h trade.name %></td>
                    <td><%= h trade.optype_name%></td>
                    <td><%= h trade.total_amount %></td>
                    <td><%= h trade.amount %></td>
                    <td><%= h trade.user.try(:name) %></td>
                    <td><%=trade.state == -1 ? '已退款' : '已付款'%></td>
                    <td><%= trade.created_at && trade.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                    
                    <td class="op">
                      <%= link_to '查看', admin_fx_trade_path(trade), "data-target" => "rightPanel", class: 'btn btn-xs btn-success' if can?(:show, trade) %>
                      <%= link_to '编辑', edit_admin_fx_trade_path(trade), "data-target" => "rightPanel", class: 'btn btn-xs btn-success' if can?(:update, trade) %>
                      <%= link_to '退款', refund_admin_fx_trade_path(trade), "data-target" => "rightPanel", class: 'btn btn-xs btn-success' if can?(:update, trade) %>
                      <%= link_to '删除', delete_admin_fx_trade_path(trade), "data-target" => "rightPanel", class: 'btn btn-xs btn-success' if can?(:destroy, trade) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="dt-toolbar-footer">
            <%= render "admin/shared/pagination", object: @trades %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        App.handleDatePickers(false, false);
    })
</script>
