 

      <header class="top_bar clearfix">
          <div class="common" style="border:2px solid #C3C3C3">
              <a href="http://mall.eventnation.com.cn/android" class="top_img"> <%= image_tag "fx/back.png"%>  </a>
              <span class="top_size">推广</span>
              <a href="#" class="top_point f_right"> <%= image_tag "fx/dd.png"%> </a>
          </div>
      </header>
      <main class= "startcode">
          <div class="main_img">
             <%= image_tag "fx/bg.png"%>  
          </div>
          <div class="hzb_logo">
               <%= image_tag "fx/logo_1.png"%> 
              
          </div>
          <div class="hzb_logo1">
                <%= image_tag "fx/logo_2.png"%> 
              
          </div>
          <div class="hzb_logo2">
                <%= image_tag "fx/logo_3.png"%> 
              
          </div>
          
            <div class="content_input">
                <a href="http://zhushou.360.cn/detail/index/soft_id/3401152"> <input type="submit" value="下载会展邦App  安卓版" /></a>
          </div>
          
           <div class="content_input">
              <input type="submit" value="下载会展邦App  IOS版" />
          </div>
          
          <div class="foot_img">   <%= image_tag "fx/bg1.png"%> </div>
          
         
         
      </main>