<section>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= form_tag request.path, method: 'get', id: 'search_form' do %>
          <%= render 'manage/shared/search/basic', field: 'id' %>
          <%= render 'manage/shared/search/like', field: 'name' %>
          <%= render 'manage/shared/search/range', field: 'created_at' %>
          <%= render 'manage/shared/search/range', field: 'updated_at' %>
          <%= render 'manage/shared/search/order', fields: %w[name] %>
          <%= render 'manage/shared/search/page' %>
          <%= submit_tag t(:search), name: nil, class: 'btn btn-primary' %>
      <% end %>
      <br class="clear"/>

      <div class="jarviswidget">
        <header>
          <span class="widget-icon"><i class="fa fa-table"></i></span>

          <h2><%= "#{model.model_name.human}#{t(:index)}" %></h2>

          <div class="widget-toolbar">
            <%= link_to raw('<i class="fa fa-plus-circle"></i> ' + t('new')), [:new, model.model_name.singular], class: 'btn btn-xs btn-success', data: {target: 'rightPanel'} if can?(:create, model) %>
          </div>
        </header>
        <div>
          <div class="widget-body no-padding">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <% %i{ id pic name gender birthday login_at created_at }.each do |field| %>
                      <th><%= model.human_attribute_name(field) %></th>
                  <% end %>
                  <th><%= t 'actions' %></th>
                </tr>
                </thead>
                <tbody>
                <% @records.each do |record| %>
                    <tr>
                      <td><%= link_to record.id, manage_user_path(record) %></td>
                      <td><%= record.name %></td>
                      <td><%= record.gender %></td>
                      <td><%= record.login_at.try(:to_s, :db) %></td>
                      <td><%= record.pic %></td>
                      <td><%= datetime_tag record.created_at.try(:to_s, :db) %></td>
                      <td class="actions"><%= render partial: 'manage/shared/actions', record: record %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

              <div class="dt-toolbar-footer">
                <%= render 'manage/shared/pagination', records: @records %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>