<fieldset>
  <div class="form-group">
    <%= f.label :grants, '授予', class: 'col-md-3 control-label' %>
    <div class="col-md-8">
      <% (@record.grants.sort_by { |grant| grant.id || 99999999 } + (show ? [] : 1..10).map { @record.grants.new(:active => false) }).each do |grant| %>
          <%= f.fields_for :grants, grant do |sf| %>
              <% unless show %>
                  <%= sf.check_box :active, :onclick => "$(this).next().slideToggle('fast').find('input').prop('disabled', !$(this).prop('checked'));" %>
              <% end %>
              <div style="<%= 'display:none;' unless grant.active? %>">
                <table class=form-table>
                  <tbody>
                  <% unless grant.new_record? %>
                      <tr>
                        <th><%= sf.label :id, 'ID' %></th>
                        <td><%= grant.id %></td>
                      </tr>
                  <% end %>
                  <tr>
                    <th><%= sf.label :role_id, '角色' %></th>
                    <td>
                      <% if show %>
                          <%= link_to_if can?(:show, grant.role), h(grant.role.name), grant.role, :rel => 'facebox' if grant.role %>
                      <% else %>
                          <%= sf.collection_select :role_id, Manage::Role.active, :id, :name, {:include_blank => ''} %>
                          <%= sf.error_message_on :role_id %>
                      <% end %>
                    </td>
                  </tr>
                  <% unless grant.new_record? %>
                      <tr>
                        <th><%= sf.label :created_at, '创建时间' %></th>
                        <td><%= grant.created_at && grant.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                      </tr>
                      <tr>
                        <th><%= sf.label :updated_at, '修改时间' %></th>
                        <td><%= grant.updated_at && grant.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</fieldset>
